.Contacto{
    display: flex;
    flex-direction: column;
    align-items: center;

    .formItem{
        margin-bottom: 1.5rem;
        width: 30%;
        padding: 10px;
    }

    div{
        display: flex;
        justify-content: space-around;

        input{
            width: 150px;
        }
    }
}