.footer {
    grid-area: footer;
    background-color: $colorfondo1;
    border: 1px solid grey;
    bottom: 0;

    .redes-sociales {
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 25px;
        font-size: 30px;
        text-decoration: none;

        li {
            margin-left: 50px;
            margin-right: 50px;

            i{
                color: black;
            }

            &:hover i {
                transform: scale(1.3);
            }
        }
    }
}
